.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 318px;
    height: 100vh;
    background: #222327;
    padding: 32px 28px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 38px;
    }

    &__title {
        font-weight: 700;
        font-size: 30px;
        color: #FFFFFF;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

}