
.drow-down-list {
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
    }

    &__title {
        color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
    }

    &__arrow {
        width: 8px;
        height: 8px;
        transform: rotate(-45deg);
        // transform: rotate(45deg);
        border-radius: 2px;
        border-right: 3px solid red;
        border-bottom: 3px solid red;
    }

    &__items {
        max-height: 0;
        overflow: hidden;
        display: flex;
        margin-top: 16px;
        flex-direction: column;
        gap: 10px;
        border-left: 2px solid rgba(255, 255, 255, 0.1);
        transition: 800ms;
        &_active {
            max-height: 200px;
            visibility: visible;
            opacity: 1;
        }
    }

    &__item {
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        font-size: 16px;
        margin-left: 13px;
        font-weight: 600;
        width: max-content;
        position: relative;
        padding: 10px 18px;
        &::before {
            top: 45%;
            left: -13px;
            position: absolute;
            content: "";
            width: 10px;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.1);
        }
        &_active {
            background: rgba(255, 255, 255, 0.04);
            color: #FFFFFF;
            border-radius: 18px;
        }
    }

}